{
    "presets": [
        [
            "@emotion/babel-preset-css-prop",
            {
                "autoLabel": "dev-only",
                "labelFormat": "[local]"
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@emotion",
            {
                "sourceMap": true,
                "autoLabel": "dev-only",
                "labelFormat": "[local]",
                "cssPropOptimization": true
            }
        ],
        "@babel/plugin-transform-modules-commonjs"
    ]
}
