.modal-body {
  width: 6em;
  min-height: 4em;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-sizing: border-box;
  padding: 20px;

  button {
    position: relative;
    top: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 30%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(49, 130, 246);
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: rgb(28, 100, 218);
    }
  }

  .modal-skeleton {
    position: relative;
    overflow: hidden;
    width: 5em;
    min-height: 3em;
    background-image: 
    linear-gradient(#eee 25px, transparent 0), 
    linear-gradient(#eee 25px, transparent 0), 
    linear-gradient(#eee 25px, transparent 0),
    linear-gradient(#eee 25px, transparent 0), 
    linear-gradient(#eee 25px, transparent 0);
    background-repeat: repeat-y;
    background-size: 
    150px 280px, 
    230px 280px, 
    80px 280px, 
    110px 280px, 
    230px 280px;
    background-position: 
    0 5px, 
    0 40px, 
    0 75px, 
    90px 75px, 
    0 110px;

    .skeleton-indicator {
      width: 100%;
      height: 100%;
      position: absolute;
      animation-name: skeleton;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }
    .shadow {
      width: 0;
      box-shadow: 0 0 50px 50px white;
    }
    .skeleton-indicator,
    .shadow {
      height: 100%;
    }
    
    @keyframes skeleton {
      0% {
        transform: translateX(0%);
        opacity: 0.1;
      }
      25% {
        opacity: 0.4;
      }
      50% {
        opacity: 1;
      }
      75% {
        opacity: 0.4;
      }
      100% {
        transform: translateX(100%);
        opacity: 0.1;
      }
    }
  }
}

.custom-modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-sizing: border-box;

  button {
    position: relative;
    top: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(49, 130, 246);
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: rgb(28, 100, 218);
    }
  }
}

.custom-spinner {
  position: fixed;
  top: 25px;
  left: 35px;
  font-size: 45px;
  animation-name: spinner;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;

  @keyframes spinner {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
